<!DOCTYPE html>
<html>
  <head>
    <title>UntappdClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="node_modules/react-star-rating/dist/css/react-star-rating.min.css">
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>"
        }
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
